@import libs/rome

.picker
  position: relative
  line-height: 1.3
  &__value
    position: relative
    display: inline-block
    +nosel
    &:before
      content: attr(data-date)
      display: block
      padding: .2rem .5rem
      visibility: hidden
      font-size: 1.4rem
  &__input
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 2.2rem
    text-align: center
    color: $main
    font-size: 1.4rem
    +roboto
    background: none
    cursor: pointer
    border-radius: .2rem
    transition: background, color, .3s
    &:focus
      color: #fff
      background: #b5bec5
  &__meta
    display: block
    padding: 0 .5rem
    color: #8a959e
    font-size: 1.2rem

.date
  position: relative
  padding-left: 3rem
  .icon-clock
    position: absolute
    left: 0
    top: .3rem
    font-size: 1.6rem
    color: $icon

.time
  display: flex
  align-items: baseline
  &__arrow
    padding: 0 .5rem
    font-size: .8rem
  .picker
    &__meta
      position: absolute
      top: 100%
      left: 0
      white-space: nowrap

.rd-container
  position: absolute
  left: 0
  top: 100%
  z-index: 11
  border: 0
  background: none
  padding: 3px 0 0

.rd-date
  padding: 0 1rem .5rem
  width: 23.8rem
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.05)
  border-radius: 0.2rem
  border: 1px solid #e0e2e3
  background-color: #fff

.rd-month
  display: block

.rd-days
  table-layout: fixed

.rd-day-body
  padding: .9rem .5rem
  vertical-align: middle
  color: #6f757b
  font-size: 1.3rem
  font-weight: 400
  transition: color .3s
  &:hover
    color: $main

.rd-day-selected
  position: relative
  z-index: 2
  color: #fff
  background: none
  &:before
    content: ''
    position: absolute
    z-index: -1
    left: 50%
    top: 50%
    margin: - 1.4rem 0 0 -1.4rem
    width: 2.8rem
    height: 2.8rem
    border-radius: 2px
    background: $main
  &:hover
    color: #fff

.rd-day-disabled
  text-decoration: line-through
  color: $icon
  &:hover
    color: $icon

.rd-time-selected
  display: none

.rd-day-prev-month,
.rd-day-next-month
  color: $icon

.rd-month
  position: relative

.rd-back,
.rd-next
  position: absolute
  top: 0
  z-index: 2
  width: 3.3rem
  height: 3.3rem
  color: $icon
  font-size: 1.2rem
  transition: color .3s
  &:before
    +icon
  &:hover
    color: $main

.rd-back
  left: -1rem
  &:before
    content: $icon-arrow-left

.rd-next
  right: -1rem
  &:before
    content: $icon-arrow-right

.rd-month-label
  position: relative
  display: flex
  margin: 0 -1rem
  align-items: center
  justify-content: center
  height: 3.3rem
  font-size: 1.3rem
  font-weight: 500
  color: $text
  background: $panel
  &:after
    content: ''
    position: absolute
    left: 0
    right: 0
    top: 100%
    transform: translateY(3rem)
    height: 2px
    background: #f0f2f2

.rd-day-head
  height: 3rem
  vertical-align: middle
  font-weight: 400
  font-size: 1rem
  text-transform: uppercase
  letter-spacing: 1px
  color: $icon

.rd-time-list
  width: 6rem
  max-height: 17rem
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.05)
  border-radius: 0.2rem
  border: 1px solid #d5dee2
  background-color: #fff

.rd-time-option
  padding: .6rem 1.5rem .6rem .7rem
  line-height: 1
  transition: background, color, .3s
  &:hover
    color: #fff
    background: $main
