.popup
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 10
  opacity: 0
  visibility: hidden
  transition: opacity .3s
  &.is-active
    opacity: 1
    visibility: visible
  &__main
    position: relative
    z-index: 2
    margin: 14rem auto 0
    width: 34rem
    background: #fff
    border-radius: .2rem
    +r($xs)
      margin: 1rem
      width: auto
  &__in
    padding: 0 2rem
  &__head
    position: relative
    display: flex
    align-items: center
    border-bottom: 1px solid $border
    padding: 1.7rem 2rem
    height: 6.2rem
    .btn-prev
      margin-right: 1rem
  &__close
    position: absolute
    right: 0
    top: 0
    height: 100%
    width: 5.2rem
    background: none
    .icon
      font-size: 1.2rem
      vertical-align: middle
    &:hover
      .icon
        color: $main
  &__row
    display: flex
    border-bottom: 1px solid $border
    height: 6.1rem
  &__footer
    padding: 1.6rem 2rem 2rem
  &__tab
    padding: 2rem
  &__list
    margin: 0 0 -2rem

.overlay
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  z-index: 9
  background: rgba(#e2e3e4, .85)
  backdrop-filter: blur(2px) // safari macOS, graceful degradation for another browsers
  opacity: 0
  visibility: hidden
  transition: opacity .3s
  &.is-active
    opacity: 1
    visibility: visible

