$main: #3bb3bd
$text: #384047
$icon: #aeb5bc
$panel: #f8f8f8
$border: #edeff0
$xs: 360

=roboto
    font-family: 'Roboto', Arial, -apple-system-body, sans-serif
  
=icon
  font-family: 'iconfont'
  font-style: normal
  font-weight: normal
  text-rendering: auto
  speak: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
