html
  font-size: 62.5%
  +selection
    background: $main
    color: #fff

body
  +roboto
  color: $text
  font-size: 1.4rem
  font-weight: 400

.icon
  color: $icon
  transition: color .3s

.schedule
  display: flex
  align-items: center
  padding: 1rem 2rem
  height: 8rem
  background: $panel
  &__in
    position: relative
    display: flex
    width: 100%
  &__date
    flex: 0 1 58%
  &__time
    flex-basis: auto

.select-item
  position: relative
  display: flex
  align-items: center
  width: 100%
  padding-left: 3.5rem
  text-align: left
  font-size: 1.4rem
  background: none
  transition: color .3s
  cursor: pointer
  +nosel
  &:hover
    color: $main
  &__icon
    position: absolute
    left: 0
    top: 50%
    font-size: 0
    line-height: 1
    transform: translateY(-50%)
    .icon
      font-size: 1.4rem
  &:after
    content: $icon-arrow-right
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)
    +icon
    color: $icon
    font-size: 1.2rem

.radio-group
  display: flex

.radio
  display: inline-flex
  align-items: center
  cursor: pointer
  ~ .radio
    margin-left: 2.2rem
  &:hover
    .radio__text
      &:before
        border-color: $main
  &__in
    position: relative
    display: block
    input
      display: none
      &:checked
        ~ .radio__text
          &:before
            background: $main
            border-color: $main
          &:after
            display: block
  &__text
    position: relative
    display: block
    padding: 0 1rem 0 3.3rem
    &:before
      content: ''
      position: absolute
      left: 0
      top: .2rem
      width: 1.6rem
      height: 1.6rem
      border: 1px solid #dadfe1
      border-radius: 50%
      transition: border .3s
    &:after
      content: ''
      position: absolute
      top: .7rem
      left: .5rem
      width: .6rem
      height: .6rem
      border-radius: 50%
      background: #fff

.btn
  display: inline-block
  padding: 1.2rem 2rem
  border-radius: 0.2rem
  background: $main
  color: #fff
  font-size: 1.4rem
  font-weight: 500
  line-height: 1
  transition: background .3s
  &:hover
    background: darken($main, 5%)
  &:active
    background: darken($main, 10%)
  &[disabled]
    opacity: .3
    cursor: default
    pointer-events: none
  &_fluid
    width: 100%

.btn-prev
  position: relative
  text-align: center
  line-height: 2.6rem
  width: 2.8rem
  height: 2.8rem
  border-radius: 0.2rem
  border: 1px solid #e0e2e3
  background: none
  color: $icon
  transition: color, border, .3s
  &:hover
    color: $main
    border-color: $main
  &:before
    content: $icon-arrow-left
    +icon
    font-size: 1.2rem
    vertical-align: middle

.tab
  display: flex
  align-items: center
  line-height: 1
  &__item
    position: relative
    padding: .3rem .9rem
    color: #8a959e
    transition: color .3s
    cursor: pointer
    +nosel
    +r($xs)
      padding: .3rem .5rem
    &:hover
      color: $main
    &:after
      content: ''
      position: absolute
      left: .9rem
      right: .9rem
      top: 100%
      height: 2px
      background: $main
      transform: scale(0,1)
      transition: transform .3s
      +r($xs)
        left: .5rem
        right: .5rem
    &.is-active,
    &.isSelected
      color: $text
      &:after
        transform: scale(1,1)

.tab-content
  display: none
  &.is-active
    display: block

.form
  color: #6f757b
  font-size: 1.3rem
  font-weight: 400
  line-height: 1.38
  &__text
    margin-bottom: 2.5rem
  &__action
    margin-top: 3rem

.field
  display: block
  position: relative
  margin-bottom: 2.3rem
  &_required
    .field__title
      &:after
        content: ''
        display: inline-block
        vertical-align: super
        margin-left: .8rem
        width: .4rem
        height: .4rem
        border-radius: 50%
        background: #f8463d
  &_search
    margin-bottom: 1.5rem
    .icon
      position: absolute
      left: 1.2rem
      top: 50%
      transform: translateY(-50%)
      font-size: 1.2rem
    .input
      padding-left: 3.3rem
  &__title
    display: block
    margin-bottom: .4rem
    color: #6f757b
    font-size: 1.3rem
    font-weight: 500

.input
  display: block
  border: 1px solid #dadfe1
  padding: 0 1rem
  height: 3.8rem
  width: 100%
  border-radius: 0.2rem
  color: $text
  font-size: 1.4rem
  font-weight: 400
  transition: border .3s
  +placeholder
    color: $icon
  &:focus
    border-color: $main
    ~ .icon
      color: $main


.person-list
  margin-right: -1rem
  padding: 0 2rem .5rem 1rem
  max-height: 28rem
  overflow-y: auto

.person
  color: $text
  &__in
    display: flex
    align-items: center
    justify-content: space-between
    padding: .5rem 0
    color: $text
    text-decoration: none
    transition: color .3s
    &:hover
      color: $main
  &__main
    display: flex
    padding-right: 1rem
    flex: 1 0 auto
    align-items: center
  &__name
    padding-left: 1rem
  &__avatar
    display: flex
    align-items: center
    justify-content: center
    width: 3.2rem
    height: 3.2rem
    background: #dadfe1
    border-radius: 50%
    img
      display: block
      width: 100%
      height: 100%
      object-fit: cover
      border-radius: 50%
  &__info
    text-align: right
    flex: 0 1 5.5rem
    color: #8a959e