---
title: Page
description: Page description
view: addLesson
---
{% extends "layouts/_layout.html" %}

{% block content %}
<img style="width: 100%" src="./img/temp.jpg" alt="remove me">

<div id="app"></div>

<!--{% include "partials/popups/_add-lesson.html" %}-->
<!--{% include "partials/popups/_add-student.html" %}-->

<div class="overlay is-active"></div>

{% endblock %}