{% if view === 'addLesson' %}
<div class="popup is-active">
{% else %}
<div class="popup">
{% endif %}
    <div class="popup__main">
        <form action="#">
            <div class="popup__head">
                <div class="popup__title">Schedule lesson</div>
                <button class="popup__close" type="button">
                    <i class="icon icon-close"></i>
                </button>
            </div>
            <div class="popup__body">
                <div class="schedule js-schedule">
                    <div class="schedule__in">
                        <div class="schedule__date">
                            <div class="date">
                                <div class="date__icon">
                                    <i class="icon icon-clock"></i>
                                </div>
                                <div class="picker js-datepicker">
                                    <label class="picker__value js-datepicker-date">
                                        <input class="picker__input" type="text">
                                    </label>
                                    <span class="picker__meta js-datepicker-day"></span>
                                </div>
                            </div>
                        </div>
                        <div class="schedule__time">
                            <div class="time js-timepicker-range" data-range="true">
                                <div class="picker">
                                    <label class="picker__value js-timepicker-range-from">
                                        <input class="picker__input" type="text">
                                    </label>
                                    <span class="picker__meta js-timepicker-range-diff"></span>
                                </div>
                                <span class="time__arrow">
                                    <i class="icon icon-arrow"></i>
                                </span>
                                <div class="picker">
                                    <label class="picker__value js-timepicker-range-to">
                                        <input class="picker__input" type="text">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup__in">
                    <div class="popup__row">
                        {% if student %}
                        <div class="select-item">
                            <span class="select-item__icon">
                                <i class="icon icon-user"></i>
                            </span>
                            <div class="select-item__main">
                                <div class="person">
                                    <div class="person__in">
                                        <div class="person__main">
                                            <div class="person__avatar">
                                                <img src="./img/user1.png" alt="Ana Prykhodko">
                                                <!--<i class="icon icon-send"></i>-->
                                            </div>
                                            <div class="person__name">Ana Prykhodko</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="select-item">
                            <span class="select-item__icon">
                                <i class="icon icon-user"></i>
                            </span>
                            <div class="select-item__main">Select student</div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="popup__row">
                        <label class="radio">
                            <span class="radio__in">
                                <input type="radio" name="lessonType" value="online" checked>
                                <span class="radio__text">Online lesson</span>
                            </span>
                        </label>
                        <label class="radio">
                            <span class="radio__in">
                                <input type="radio" name="lessonType" value="offline">
                                <span class="radio__text">Offline lesson</span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="popup__footer">
                {% if student %}
                <button class="btn btn_fluid" type="submit">Schedule lesson</button>
                {% else %}
                <button class="btn btn_fluid" type="submit" disabled>Schedule lesson</button>
                {% endif %}
            </div>
        </form>
    </div>
</div>
