{% if view === 'addStudent' %}
<div class="popup is-active">
{% else %}
<div class="popup">
{% endif %}
    <div class="popup__main">
        <div class="popup__head">
            <button class="btn-prev" type="button"></button>
            <ul class="tab">
                {% if tab === 0 %}
                <li class="tab__item is-active">
                {% else %}
                <li class="tab__item">
                {% endif %}
                Select student
                </li>
                {% if tab === 1 %}
                <li class="tab__item is-active">
                    {% else %}
                <li class="tab__item">
                    {% endif %}
                    Add new student
                </li>
            </ul>
        </div>
        {% if tab === 0 %}
        <div class="tab-content is-active">
        {% else %}
        <div class="tab-content">
        {% endif %}
            <div class="popup__tab">
                <label class="field field_search">
                    <input class="input" type="text" name="search" placeholder="Search students">
                    <i class="icon icon-search"></i>
                </label>
                <div class="popup__list">
                    <ul class="person-list">
                        {% import "data/persons.html" as persons %}
                        {% for student in persons.data.array %}
                        <li class="person">
                            <a class="person__in" href="#">
                                <div class="person__main">
                                    <div class="person__avatar">
                                        {% if student.img %}
                                        <img src="{{student.img}}" alt="{{student.name}}">
                                        {% else %}
                                        <i class="icon icon-send"></i>
                                        {% endif %}
                                    </div>
                                    <div class="person__name">{{student.name}}</div>
                                </div>
                                <div class="person__info">{{student.info}}</div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% if tab === 1 %}
        <div class="tab-content is-active">
        {% else %}
        <div class="tab-content">
        {% endif %}
            <div class="popup__tab">
                <form class="form" action="#">
                    <div class="form__text">On Preply, you can invite new students and schedule lessons with them for free. </div>
                    <label class="field field_required">
                        <span class="field__title">Student’s name</span>
                        <input class="input" type="text" name="name" required>
                    </label>
                    <div class="form__text">If you wish for the student to get notified about
                        scheduled lessons and changes, type in their email:</div>
                    <label class="field">
                        <span class="field__title">Student’s email</span>
                        <input class="input" type="email" name="email">
                    </label>
                    <div class="form__action">
                        <button class="btn btn_fluid" type="submit">Add new student</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>