{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta name="description" content="{{ description }}">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <link rel="stylesheet" media="all" href="css/app.css">
    {# {% include "../partials/_media-tags.html" %} #}
</head>
<body>

<!-- BEGIN content -->
<div class="out">
    {% block content %}{% endblock %}
</div>
<!-- END content -->
<script src="js/app.js"></script>
</body>
</html>
