@font-face {
  font-family: "iconfont";
  src: url('fonts/iconfont.eot');
  src: url('fonts/iconfont.eot?#iefix') format('eot'),
    url('fonts/iconfont.woff2') format('woff2'),
    url('fonts/iconfont.woff') format('woff'),
    url('fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-arrow-left: "\EA01";
$icon-arrow-right: "\EA02";
$icon-arrow: "\EA03";
$icon-clock: "\EA04";
$icon-close: "\EA05";
$icon-search: "\EA06";
$icon-send: "\EA07";
$icon-user: "\EA08";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-arrow-left:before { content: $icon-arrow-left; }
.icon-arrow-right:before { content: $icon-arrow-right; }
.icon-arrow:before { content: $icon-arrow; }
.icon-clock:before { content: $icon-clock; }
.icon-close:before { content: $icon-close; }
.icon-search:before { content: $icon-search; }
.icon-send:before { content: $icon-send; }
.icon-user:before { content: $icon-user; }
